%table.table
  %tr
    %th
      URL Corta
    %th
      Visitas
    %th
      Autor
    %th
      Estadísticas
  - @list.each do |elem|
    %tr
      %td
        - if elem.to != " "
          %a{:href=>"/#{elem.to}"} #{elem.id.to_s(Base)} #{elem.to}
        - else
          %a{:href=>"/#{elem.id.to_s(Base)}"} #{elem.url}
      %td
        #{elem.num_visit}
      %td
        - if elem.id_usu != " "
          #{elem.id_usu}
        - else
          PUBLICA
      %td
        %a{:href=>"/graficas/#{elem.id.to_s(Base)}", :title => "Estadísticas detalladas"} VER
          
